@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}
body{
    padding-bottom: 100px;
    background-color: #39E8A9;
    color: #FFF;
}
.jumbotron{
    background-color: #4CFF8C;
    color: #FFF;
}
#year2018,#year2017,#year2016{
    padding-top: 80px;
}
#year2018,#year2017{
    border-bottom: 1px #39E8A9 solid; 
}
#character{
    padding: 50px;
}
.card{
    margin: 0;
    padding: 0;
}
#cha{
    margin: 20px;
}
.card-body{
    margin: 20px auto;
    padding: 20px;
}
#latest{
    padding: 50px;

}